/// Widget Header

.widget-header {
  background: $dgray;
  display: flex;
  justify-content: space-between;
}

.widget--form {
  padding: $m-size;
  width: 100%;

}

.widget--input {
  height: 3.4rem;
  width: 43%;
}

.widget--error {
  position: absolute;;
  top: 213px;
  background: red;
  padding: $s-size;
  color: $white;
}